@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Open+Sans&family=Oswald&family=Roboto:wght@400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', 'Open Sans', 'Roboto', 'Noto sans', sans-serif;
}
body{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    background-color: rgb(12, 14, 36);
}
.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.main {
    animation: fade-in 2s ease-out forwards;
}

@keyframes fade-in {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 7vh;
    z-index: 999;
}
h1 {
    color: #77ffc0;
    text-align: center;
    letter-spacing: 2px;
}

.vertical-lines {
   margin-top: 50px;
   width: 100vw;
   height: 300px;
   margin: 0;
   z-index: -1;
}
.vertical-lines div {
    display: flex; 
    height: 100px;
    width: 5px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px 1px rgb(255, 255, 255);
    animation: background_animation calc(30s / var(--i)) linear infinite;
    border-radius: 15px;
}
.vertical-lines div:nth-of-type(even){
    background-color: rgb(226, 226, 226);
    box-shadow: 0 0 10px 1px rgb(206, 206, 206);
}

@keyframes background_animation {
    0% {
        transform: translateX(30vw) translateY(-150vh) rotate(54deg); 
    }
    100% {
        transform: translateX(100vw) translateY(-250vh) rotate(54deg);
    }
}

img {
    margin: 7% auto;
    transition: 0.5s;
    border-radius: 10px;
    box-shadow: 0 0 0px 1.5px #77ffc0;
}
img:hover{
    box-shadow: -10px 15px 0px 0px #77ffc0;
    transform: scale(1.05, 1.05);
    cursor: pointer;
}
#gallery {
    display: block;
    margin: 7% auto;
    width: 300px;
    height: 200px;
    border: 3px dotted #77ffc0;
    background: none;
}
#gallery p {
    color: #77ffc0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 29% auto;
    cursor: pointer;
}

.border-linha {
    margin: 160px auto;
}
.linha {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    width: 70vw;
    height: 0.5vh;
    background-color: #77ffc0;
}
.points {
    padding: 10px;
    border-radius: 50px;
    border: none;
    background-color: #77ffc0;
    transition: 0.5s;
}
.points:hover {
    transform: scale(3, 3);
    cursor: pointer;
    box-shadow: 0 0 3px #77ffc0;
}
.points:hover::before {
    content: attr(data-tooltip);
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 3px;
    color: #fff;
    font-size: 6px;
    white-space: nowrap;
  }
.text-linha {
    margin: 50px auto;
    transition: 0.5s;
    animation: pulser_animation 5s ease infinite;
}
.text-linha p{
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #77ffc0;
    
}

@keyframes pulser_animation {
    0% {
        
        transform: scale(1, 1);
    } 50% {
        
        transform: scale(1.09, 1.09);
    } 100% {
        
        transform: scale(1, 1);
    }
}

.desc {
    
    margin: 20% auto;
    z-index: 10;
}

.footer {
    position: absolute;
    background-color: rgb(255, 0, 0);
    width: 100vw;
    height: 800px;
    z-index: 1;
    
}

@media only screen and (max-width: 950px){
    h1{
        color: red;
    }

    .vertical-lines div {
       display: none;
    }
    .vertical-lines div:nth-of-type(even){
        background-color: none;
    }
    .border-linha {
        margin: 200px auto;
    }
    body {
        background-color: rgb(75, 1, 1);
    }
    .points:hover {
        transform: scale(2, 2);
        box-shadow: 0 0 3px #ff0000;
    }
    .linha {
        background-color: #ff0000;
    }
    .points {
        background-color: #ff0000;
        
    }
    .points:hover::before {
        color: #fff;
        font-size: 10px;
    }
    #gallery p {
        color: #ff0000;
    }
    .text-linha p{
        color: #ff0000;
    }
    img {
        box-shadow: 0 0 0px 1.5px #ff0000;
    }
    img:hover {
        box-shadow: -10px 15px 0px 0px #ff0000;
    }
}
