@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Open+Sans&family=Oswald&family=Roboto:wght@400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', 'Open Sans', 'Roboto', 'Noto sans', sans-serif;
}
html {
    scroll-behavior: smooth;
}
body{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    background-color: rgb(12, 14, 36);
    z-index: -2;
}
a{
    text-decoration: none;
}
a[href="#"]{
    transition-duration: 1.5s;
}
.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.main {
    animation: fade-in 2s ease-out forwards;
}

@keyframes fade-in {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 7vh;
    z-index: 999;
}
h1 {
    color: #77ffc0;
    text-align: center;
    letter-spacing: 2px;
}

.animated-back {
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-space {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    perspective: 5px;
    top: -300px;
    perspective-origin: 50% 50%;
    z-index: -1;
}
.wrapper {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: -500px;
    left: -500px;
    transform-style: preserve-3d;
    animation-fill-mode: forwards;
    animation: move 12s infinite linear;
}
.wrapper:nth-child(2) {
    animation: move 12s infinite linear;
    animation-delay: 6s;
}

.side{
    background: url('../documents/backgroundspace.jpg');
    background-size: cover;
}
.side {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    animation-delay: 0;
    animation: fade 12s infinite linear;
}
.wrapper:nth-child(2) .side {
    animation-delay: 6s;

}
.side-right {
    transform: rotateY(90deg) translateZ(500px);
}
.side-left {
    transform: rotateY(-90deg) translateZ(500px);
}
.side-top {
    transform: rotateX(90deg) translateZ(500px);
}
.side-bottom {
    transform: rotateX(-90deg) translateZ(500px);
}
.side-back{
    transform: rotateX(180deg) translateZ(500px);
}

@keyframes move {
    0%{
        transform: translateZ(-500px) rotate(0deg);
    } 100%{
        transform: translateZ(500px) rotate(0deg);
    }
}
@keyframes fade {
    0% {
        opacity: 0;
    } 25% {
        opacity: 1;
    } 50% {
        opacity: 1;
    } 100% {
        opacity: 0;
    }

}

img {
    margin: 7% auto;
    transition: 0.5s;
    border-radius: 10px;
    box-shadow: 0 0 0px 1.5px #77ffc0;
}
img:hover{
    box-shadow: -10px 15px 0px 0px #77ffc0;
    transform: scale(1.05, 1.05);
    cursor: pointer;
}
#gallery {
    display: block;
    margin: 7% auto;
    width: 300px;
    height: 200px;
    border: 3px dotted #77ffc0;
    background: none;
}
#gallery p {
    color: #77ffc0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 29% auto;
    cursor: pointer;
}

.border-linha {
    margin: 160px auto;
}
.linha {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    width: 70vw;
    height: 0.5vh;
    background-color: #77ffc0;
}
.points {
    padding: 10px;
    border-radius: 50px;
    border: none;
    background-color: #77ffc0;
    transition: 0.5s;
}
.points:hover {
    transform: scale(3, 3);
    cursor: pointer;
    box-shadow: 0 0 3px #77ffc0;
}
.points:hover::before {
    content: attr(data-tooltip);
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 3px;
    color: #fff;
    font-size: 6px;
    white-space: nowrap;
  }
.text-linha {
    margin: 50px auto;
    transition: 0.5s;
    animation: pulser_animation 5s ease infinite;
}
.text-linha p{
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #77ffc0;
    
}

@keyframes pulser_animation {
    0% {
        
        transform: scale(1, 1);
    } 50% {
        
        transform: scale(1.09, 1.09);
    } 100% {
        
        transform: scale(1, 1);
    }
}

.desc {
    margin: 20% auto;
    z-index: 10;
}

.pre-rodape a{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
    letter-spacing: 2px;
    color: #77ffc0;
    cursor: pointer;
    transition: 0.2s;
    animation: pre_rodape 5s infinite linear;
}

@keyframes pre_rodape {
    0% {
        opacity: 0;
    } 50% {
        opacity: 1;
    } 100% {
        opacity: 0;
    }
}

.footer {
    background-color: rgb(12, 14, 36);
    width: 100vw;
    height: 600px;
    position: relative;
    top: 100px;
    z-index: 1;
}

@media only screen and (max-width: 950px){
    h1{
        color: red;
    }

    .vertical-lines div {
       display: none;
    }
    .vertical-lines div:nth-of-type(even){
        background-color: none;
    }
    .border-linha {
        margin: 200px auto;
    }
    body {
        background-color: rgb(75, 1, 1);
    }
    .points:hover {
        transform: scale(2, 2);
        box-shadow: 0 0 3px #ff0000;
    }
    .linha {
        background-color: #ff0000;
    }
    .points {
        background-color: #ff0000;
        
    }
    .points:hover::before {
        color: #fff;
        font-size: 10px;
    }
    #gallery p {
        color: #ff0000;
    }
    .text-linha p{
        color: #ff0000;
    }
    img {
        box-shadow: 0 0 0px 1.5px #ff0000;
    }
    img:hover {
        box-shadow: -10px 15px 0px 0px #ff0000;
    }
}
